{# <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reset password   for {{email}}</h1>
    <form action="http://localhost:3000/auth/resetpassword/{{id}}/{{token}}" method="post">

<label for="">password</label>
<input type="password" name="password1" id="password">

<br>
<label for="">confirm password</label>
<input type="password" name="password2" id="confirmPassword">

<input type="submit" value="reset password" >

        
    </form>
</body>
</html> #}



<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Multikart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords"
        content="admin template, Multikart admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="/public/images/dashboard/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/public/images/dashboard/favicon.png" type="image/x-icon">
    <title>Reset password </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Google font-->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="/public/css/vendors/font-awesome.css">

    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="/public/css/vendors/themify-icons.css">

    <!-- slick icon-->
    <link rel="stylesheet" type="text/css" href="/public/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="/public/css/vendors/slick-theme.css">

    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="/public/css/vendors/bootstrap.css">

    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">

</head>

<body>

    <!-- page-wrapper Start-->
    <div class="page-wrapper">
        <div class="authentication-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 p-0 card-left">
                        <div class="card bg-primary mb-0">
                            <div class="single-item">
                                <div>
                                    <div>
                                        <h3>Welcome to Top in tech</h3>
                                       
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 p-0 card-right">
                        <div class="card tab2-card card-login mb-0">
                            <div class="card-body">
                                <div class="tab-content" id="top-tabContent">
                                    <div class="tab-pane fade show active" id="top-profile" role="tabpanel">


                                        <form class="form-horizontal reset-pass auth-form" action="http://localhost:3000/auth/resetpassword/{{id}}/{{token}}" method="post">
                                            <h3 class="forgot-title">Reset password   for {{email}}</h3>
                                            <div class="form-group reset-input">
                                                <label>Enter your email address and we will send you a link to
                                                    reset your password.</label>
                                                <input required="" type="password" name="password1" id="password1"
                                                    class="form-control" placeholder=" password">
                                            </div>
                                            <div class="form-group reset-input">
                                                <label>Enter your email address and we will send you a link to
                                                    reset your password.</label>
                                                <input required="" type="password" name="password2" id="password2"
                                                    class="form-control" placeholder="confirm password">
                                            </div>



                                            <div class="form-button">
                                                <button class="btn btn-primary" type="submit">Reset Password</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="http://localhost:4200/login" class="btn btn-primary back-btn"><i data-feather="arrow-left"></i>back</a>
            </div>
        </div>
    </div>
{% if message == "Email n'existe pas" %}
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<div class="toast text-white fade show bg-danger "  id="myToast" style="position: absolute; top: 10px; right: 10px; ">
            <div class="toast-header  text-white bg-danger">
                <strong class="me-auto"><i class="bi-gift-fill"></i> We miss you!</strong>
                <small>10 mins ago</small>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                It's been a long time since you visited us. We've something special for you. <a href="#" class="text-white">Click here!</a>
            </div>
        </div>
{% endif %}
    <!-- latest jquery-->
    <script src="/public/js/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap js-->
    <script src="/public/js/bootstrap.bundle.min.js"></script>

    <!-- feather icon js-->
    <script src="/public/js/icons/feather-icon/feather.min.js"></script>
    <script src="/public/js/icons/feather-icon/feather-icon.js"></script>

    <!-- Sidebar jquery-->
    <script src="/public/js/sidebar-menu.js"></script>
    <script src="/public/js/slick.js"></script>

    <!-- lazyload js-->
    <script src="/public/js/lazysizes.min.js"></script>

    <!--right sidebar js-->
    <script src="/public/js/chat-menu.js"></script>

    <!--script admin-->
    <script src="/public/js/admin-script.js"></script>
      <script>
document.addEventListener("DOMContentLoaded", function(){
    var btn = document.getElementById("myBtn");
    var element = document.getElementById("myToast");

    // Create toast instance
    var myToast = new bootstrap.Toast(element);

   
        myToast.show();
    
});
</script>
    <script>
        $('.single-item').slick({
            arrows: false,
            dots: true
        });
    </script>

</body>

</html>